*{
    font-family: 'Syncopate', sans-serif;
}

*:focus {
    outline: none;
  }



/* ０から４８０　スマートフォン)*/
@media (min-width: 0px) and (max-width: 480px) {
    /* CSS を記載*/


/*heder*/
.menubar img {
    margin:20px;
}

.modal-item h1{
    font-size: 10px;
    padding-top: 55%;
    font-weight: 700;
}

.modal-item p{
    font-size: 8px;
    font-weight: 700;
}

.aboutpage {
    
    animation-name: fadeup;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.pricepage {
    
    animation-name: fadeup;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.workpage {
    
    animation-name: fadeup;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.contactpage {
    
    animation-name: fadeup;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.snspage {
    
    animation-name: fadeup;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.aboutpage {
    
    animation-name: fadeup;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}
@keyframes fadeup {
from {
    opacity: 0;
    transform: translateY(20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}




h1{
    font-size: 25px;
}

.speas{
    margin:25px 40px 40px 40px ;
    margin-bottom: 0;
}

.speas2{
    margin:380px 40px 40px 40px ;
}

.speas3{
    display: none;
}

.block1 h1{
    font-size: 7px;
}

.block1 h2{
    font-size: 12px;
}

.block1 p{
    font-size: 4px;
}

.block1 h3{
    font-size: 5px;
    margin-top: 27px;
}

.line{
    line-height:1em;
}

.block2 img{
    width: 119px;
    height: auto;
}

.flont{
    display: flex;
    justify-content: space-between;
}

.block1, .block2{
    display: block;

}

header{
    position: fixed;
    z-index: 100;
    width: 100%;
    top:0;
    background-color: rgba(255, 255, 255, 0.8); 
    
  }


/*menu*/
.menulist{
    margin-top: 42px;
}

.menulist ul{
    display: flex;
    width: 100%;
    justify-content:space-between;
}

.menulist li{
    font-size: 9px;    
}


.menulist li:first-child{
    border-bottom: 0.5px solid #2f2f2f;
    padding-bottom: 2px;
}


/*about*/
.aboutpage h1{
    font-size: 9px;
    padding-top: 0.1em;
}

.aboutpage h2{
    font-size: 9px;
    padding-top: 0.1em;
}

.aboutpage h3{
    font-size: 6px;
    padding-top: 1em;
    line-height: 1.5em;
}

.aboutpage p{
    font-size: 7px;
    padding-top: 2em;
    line-height: 1em;
    letter-spacing: -0.05em;
    text-transform: uppercase;
}


.profile img{
    padding-top: 15px;
    padding-right: 3px;
    width: 60px;
    justify-content:space-between;

}




/*footer*/
footer p{
    font-size: 5px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}







/*tab*/
.tab1 {
    display: flex;
    width: 100%;
    justify-content:space-between;
    margin-top: 42px;
}

  .tab1__item {
    font-size: 9px; 
}



.tab1__link.on {
    border-bottom: 0.5px solid #2f2f2f;
    padding-bottom: 2px;
}
  
.tab1-body__item {
    margin: 380px 40px 20px 40px;
    display: none;
}

.tab1-body__item.on {
    display: block;
}



/*price*/
.pricepage h1{
    font-size: 9px;
    font-weight: 700;
    
}

.pricepage h2{
    font-size: 9px;
    font-weight: 700;
    padding-top: 30px;
    
}
  

.pricepage p{
    font-size: 8px;
    padding-top: 10px;
    line-height: 1.5em;
    letter-spacing: -0.05em;
    text-transform: uppercase;
}

.comment{
    font-size: 6px;

}


.spnone{
    display: none;
}

/*work*/  
/*==================================================
スライダーのためのcss
===================================*/
.boxie1:hover .mask {
	opacity:		1;	/* マスクを表示する */
}

.boxie1 .mask {
	opacity:		0;	/* マスクを表示しない */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
    width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
    background-color:rgba(252, 252, 252, 0.726)	/* マスクは半透明 */
    
}

.boxie1 .caption {
	font-size: 10px;
    font-weight: 700;
    text-align: center;
    line-height: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}




  
  



.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:100;
    margin:0 auto;
    position: relative;
}

.slider img {
    width:150px;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
}

.slider .slick-slide {
	transform: scale(0.6);/*左右の画像のサイズを80%に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 1px solid #2f2f2f;/*矢印の色*/
    border-right: 1px solid #2f2f2f;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:10px 0;
    list-style-type:none;
    counter-reset:number;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: #2f2f2f;
    font-size: 7px;
    
}

.slick-dots .slick-active button{
    color:#2f2f2f;/*ドットボタンの現在地表示の色*/
    font-weight: 700;
    font-size: 7px;
}

.slick-dots li button::before {
    counter-increment:number;
    content:'00';
}

.slick-dots li:nth-child(9) ~ li button::before {
    content:counter(number);
}



.modal-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 60px 10px;
    text-align: center
}
  
.modal-wrapper:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
}
  
.modal-wrapper:target {
    opacity: 1;
    visibility: visible;
    transition: opacity .4s, visibility .4s;
}
  
.modal-wrapper::after {
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    vertical-align: middle;
    content: ""
}



.modal-content img{
    width: 300px;
    height: auto;
    padding-top: 30px;
}
.modal-content p{
    font-size: 9px;
    padding-top: 20px;
    font-weight: 700;
}



  
.modal-wrapper .modal-window {
    box-sizing: border-box;
    display: inline-block;
    z-index: 20;
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px 30px 15px;
    vertical-align: middle
    
}
  
.modal-wrapper .modal-window .modal-content {
    overflow-y: auto;
    
}



  
.modal-overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.815)
}
  
.modal-wrapper .modal-close {
    z-index: 20;
    padding: 0 0 0 80%;
}







/*contact*/  
/*==================================================
スライダーのためのcss
===================================*/

.contactpage h1{
    font-size: 8px;
    padding-bottom: 10px;
    }
    
    .contactpage{
        padding-top: 60px;
        text-align:center;
    }
    
    .contactpage a{
        font-family: 'Montserrat', sans-serif;
        font-size: 9px;
    }
    
    
    
    
    /*insta*/  
    /*==================================================
    スライダーのためのcss
    ===================================*/
.sns img{
    width: 80vw;
    align-items: center;
}

.sns p{
    font-size: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
}



.snspage p{
    padding-top: 60px;
    text-align:center;
    font-size: 8px;
}




}



/* ４８１以上１０２４以下　タブレット*/
@media (min-width: 481px) and (max-width: 1000px) {
    /* CSS を記載*/


/*heder*/
.menubar img {
    margin:50px;
    width: 50px;
}

.modal-item h1{
    font-size: 15px;
    padding-top: 55%;
    font-weight: 700;
}

.modal-item p{
    font-size: 10px;
    font-weight: 700;
}

.aboutpage {
    
    animation-name: fadeup;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.pricepage {
    
    animation-name: fadeup;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.workpage {
    
    animation-name: fadeup;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.contactpage {
    
    animation-name: fadeup;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.snspage {
    
    animation-name: fadeup;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.aboutpage {
    
    animation-name: fadeup;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}
@keyframes fadeup {
from {
    opacity: 0;
    transform: translateY(20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}




h1{
    font-size: 20px;
}

.speas{
    margin:80px 110px 110px 110px ;
}

.speas2{
    margin:443px 110px 110px 110px ;
}

.speas3{
    display: none;
}

.block1 h1{
    font-size: 15px;
}

.block1 h2{
    font-size: 23px;
}

.block1 p{
    font-size: 10px;
}

.block1 h3{
    font-size: 10px;
    margin-top: 30px;
}

.line{
    line-height:1.3em;
}

.block2 img{
    width: 250px;
    height: auto;
}

.flont{
    display: flex;
    justify-content: space-between;
}

.block1, .block2{
    display: block;

}

header{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 700px;
    top:0;
    background-color: rgba(255, 255, 255, 0.8); 
  }


/*menu*/
.menulist{
    margin-top: 42px;
}

.menulist ul{
    display: flex;
    width: 100%;
    justify-content:space-between;
}

.menulist li{
    font-size: 9px;    
}


.menulist li:first-child{
    border-bottom: 0.5px solid #2f2f2f;
    padding-bottom: 2px;
}


/*about*/
.aboutpage h1{
    font-size: 18px;
    padding-top: 0.1em;
}

.aboutpage h2{
    font-size: 12px;
    padding-top: 0.1em;
}

.aboutpage h3{
    font-size: 9px;
    padding-top: 1em;
    line-height: 1.5em;
}

.aboutpage p{
    font-size: 10px;
    padding-top: 2em;
    line-height: 1.2em;
    letter-spacing: -0.05em;
    text-transform: uppercase;
}


.profile img{
    padding-top: 30px;
    padding-right: 5px;
    width: 120px;
    justify-content:space-between;

}



/*footer*/
footer p{
    font-size: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}







/*tab*/
.tab1 {
    display: flex;
    width: 100%;
    justify-content:space-between;
    margin-top: 50px;
}

  .tab1__item {
    font-size: 16px; 
}



.tab1__link.on {
    border-bottom: 0.5px solid #2f2f2f;
    padding-bottom: 2px;
}
  
.tab1-body__item {
    margin: 750px 110px 110px 110px;
    display: none;
}

.tab1-body__item.on {
    display: block;
}



/*price*/
.pricepage h1{
    font-size: 13px;
    font-weight: 700;
    
}

.pricepage h2{
    font-size: 13px;
    font-weight: 700;
    padding-top: 50px;
    
}
  

.pricepage p{
    font-size: 13px;
    padding-top: 10px;
    line-height: 1.5em;
    letter-spacing: -0.05em;
    text-transform: uppercase;
}

.comment{
    font-size: 11px;

}


.spnone{
    display: none;
}

/*work*/  
/*==================================================
スライダーのためのcss
===================================*/
.boxie1:hover .mask {
	opacity:		1;	/* マスクを表示する */
}

.boxie1 .mask {
	opacity:		0;	/* マスクを表示しない */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
    width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
    background-color:rgba(252, 252, 252, 0.726)	/* マスクは半透明 */
    
}

.boxie1 .caption {
	font-size: 15px;
    font-weight: 700;
    text-align: center;
    line-height: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}




  
  



.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:200;
    margin:0 auto;
    position: relative;
}

.slider img {
    width:250px;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
    padding-top: 50px;
}

.slider .slick-slide {
	transform: scale(0.6);/*左右の画像のサイズを80%に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 1px solid #2f2f2f;/*矢印の色*/
    border-right: 1px solid #2f2f2f;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:30px 0;
    list-style-type:none;
    counter-reset:number;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: #2f2f2f;
    font-size: 12px;
    
}

.slick-dots .slick-active button{
    color:#2f2f2f;/*ドットボタンの現在地表示の色*/
    font-weight: 700;
    font-size: 12px;
}

.slick-dots li button::before {
    counter-increment:number;
    content:'00';
}

.slick-dots li:nth-child(9) ~ li button::before {
    content:counter(number);
}



.modal-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 60px 10px;
    text-align: center
}
  
.modal-wrapper:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
}
  
.modal-wrapper:target {
    opacity: 1;
    visibility: visible;
    transition: opacity .4s, visibility .4s;
}
  
.modal-wrapper::after {
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    vertical-align: middle;
    content: ""
}



.modal-content img{
    width: 600px;
    height: auto;
    padding-top: 200px;
}
.modal-content p{
    font-size: 13px;
    padding-top: 40px;
    font-weight: 700;
}


  
.modal-wrapper .modal-window {
    box-sizing: border-box;
    display: inline-block;
    z-index: 20;
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px 30px 15px;
    vertical-align: middle
    
}
  
.modal-wrapper .modal-window .modal-content {
    overflow-y: auto;
    
}



  
.modal-overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.815)
}
  
.modal-wrapper .modal-close {
    z-index: 20;
    padding: 0 0 0 70%;
}






/*contact*/  
/*==================================================
スライダーのためのcss
===================================*/

.contactpage h1{
    font-size: 8px;
    padding-bottom: 10px;
    }
    
    .contactpage{
        padding-top: 60px;
        text-align:center;
    }
    
    .contactpage a{
        font-family: 'Montserrat', sans-serif;
        font-size: 9px;
    }
    
    
    
    
    /*insta*/  
    /*==================================================
    スライダーのためのcss
    ===================================*/
.sns img{
    width: 80vw;
    align-items: center;
}

.sns p{
    font-size: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
}



.snspage p{
    padding-top: 60px;
    text-align:center;
    font-size: 8px;
}





}






/* １０２５以上　ノートパソコン、デスクトップ */
@media (min-width: 1001px) {
    /* CSS を記載*/


/*heder*/
.menubar img {
    display: none;
}

.modal-item h1{
    font-size: 15px;
    padding-top: 25%;
    font-weight: 700;
}

.modal-item p{
    font-size: 18px;
    font-weight: 700;
}


.aboutpage {
    
    animation-name: fadeup;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.pricepage {
    
    animation-name: fadeup;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.workpage {
    
    animation-name: fadeup;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.contactpage {
    
    animation-name: fadeup;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.snspage {
    
    animation-name: fadeup;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.aboutpage {
    
    animation-name: fadeup;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

@keyframes fadeup {
from {
    opacity: 0;
    transform: translateY(20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}




h1{
    font-size: 25px;
}

.speas{
    margin:80px;
    margin-bottom: 0;
    display: none;
}

.speas2{
    margin:80px;
}

.speas3{
    margin:80px;
    display: flex;
    justify-content: space-between;
}



.block1 {
    line-height: 65px;
}

.block1 h2{
    font-size: 32px;
    font-weight: 700;
}

.block1 p{
    font-size: 4px;
}

.block1 h3{
    font-size: 5px;
    margin-top: 27px;
}



.block2{
    text-align: right;

}

.block2 img{
    width: 253px;
    height: auto;
}

.block2 line{
    margin-top: 17px;
    line-height:1em;
}

.line h1{
    font-size: 18px;
    padding-top: 17px;
    font-weight: 700;
}

.line p{
    font-size: 8px;
}

.line h3{
    font-size: 10px;
    padding-top: 18px;
}




.flont{
    display: flex;
    justify-content: space-between;
    
}

.block1, .block2{
    display: block;

}

header{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 200px;
    top:0;
    background-color: rgba(255, 255, 255, 0.7); 

    
  }


/*menu*/
.menulist{
    margin-top: 42px;
}

.menulist ul{
    display: flex;
    width: 10%;
    justify-content:space-between;
}

.menulist li{
    font-size: 9px; 
}


.menulist li:first-child{
    border-bottom: 0.5px solid #2f2f2f;
    padding-bottom: 2px;
}


/*about*/
.aboutpage h1{
    font-size: 13px;
    padding-top: 0.1em;
}

.aboutpage h2{
    font-size: 13px;
    padding-top: 0.1em;
}

.aboutpage h3{
    font-size: 11px;
    padding-top: 1em;
    line-height: 1.5em;
}

.aboutpage p{
    font-size: 11px;
    padding-top: 2em;
    line-height: 1em;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    padding-right: 400px;
    
}






.profile img{
    padding-top: 40px;
    padding-right: 5px;
    width: 150px;
    justify-content:space-between;

}




/*footer*/
footer p{
    font-size: 7px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}







/*tab*/
.tab1 {
    display: flex;
    width: 100%;
    justify-content:space-between;
}

  .tab1__item {
    font-size: 15px; 
    margin-right: 70px;
    cursor: pointer;
}



.tab1__link.on {
    border-bottom: 0.5px solid #2f2f2f;
    padding-bottom: 2px;
}
  
.tab1-body__item {
    margin: 250px 80px 20px 80px;
    display: none;
}

.tab1-body__item.on {
    display: block;
}





/*price*/
.pricepage h1{
    font-size: 12px;
    font-weight: 700;
    
}

.pricepage h2{
    font-size: 12px;
    font-weight: 700;
    padding-top: 30px;
    
}
  

.pricepage p{
    font-size: 11px;
    padding-top: 10px;
    line-height: 1.5em;
    letter-spacing: -0.05em;
    text-transform: uppercase;
}

.comment{
    font-size: 10px;

}


.pcnone{
    display: none;
}


/*work*/  
/*==================================================
スライダーのためのcss
===================================*/
.boxie1:hover .mask {
	opacity:		1;	/* マスクを表示する */
}

.boxie1 .mask {
	opacity:		0;	/* マスクを表示しない */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
    width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
    background-color:rgba(252, 252, 252, 0.726)	/* マスクは半透明 */
    
}

.boxie1 .caption {
	font-size: 10px;
    font-weight: 700;
    text-align: center;
    line-height: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}




  
  



.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:80;
    margin:0 auto;
    position: relative;
}

.slider img {
    width:150px;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
}

.slider .slick-slide {
	transform: scale(0.6);/*左右の画像のサイズを80%に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 1px solid #2f2f2f;/*矢印の色*/
    border-right: 1px solid #2f2f2f;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:10px 0;
    list-style-type:none;
    counter-reset:number;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: #2f2f2f;
    font-size: 7px;
    
}

.slick-dots .slick-active button{
    color:#2f2f2f;/*ドットボタンの現在地表示の色*/
    font-weight: 700;
    font-size: 7px;
}

.slick-dots li button::before {
    counter-increment:number;
    content:'00';
}

.slick-dots li:nth-child(9) ~ li button::before {
    content:counter(number);
}



.modal-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 60px 10px;
    text-align: center
    
}
  
.modal-wrapper:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
    
}
  
.modal-wrapper:target {
    opacity: 1;
    visibility: visible;
    transition: opacity .4s, visibility .4s;
    
}
  
.modal-wrapper::after {
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    vertical-align: middle;
    content: ""
}



.modal-content img{
    width: 240px;
    height: auto;
    padding-top: 20px;
    
}
.modal-content p{
    font-size: 9px;
    padding-top: 20px;
    font-weight: 700;
}


  
.modal-wrapper .modal-window {
    box-sizing: border-box;
    display: inline-block;
    z-index: 20;
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px 30px 15px;
    vertical-align: middle
    
    
}
  
.modal-wrapper .modal-window .modal-content {
    overflow-y: auto;
    
}



  
.modal-overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    
}
  
.modal-wrapper .modal-close {
    z-index: 20;
    padding: 0 0 0 80%;
}


.re img{
    width: 50px;
    height: auto;
    margin: 50%;
}



.work4pop img{
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.popup{
    display: flex;
}

.work5pop img{
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




.work6pop img{
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}






/*contact*/  
/*==================================================
スライダーのためのcss
===================================*/

.contactpage h1{
    font-size: 13px;
    padding-bottom: 15px;
    }
    
    
.contactpage a{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
    
    
    
    
    /*insta*/  
    /*==================================================
    スライダーのためのcss
    ===================================*/
.spnone{
    width: auto;
}


 .big img{
     width: 700px;
     padding-top: 100px;
}

 

.sns img{
    width: 700px;
}

.sns p{
    font-size: 13px;
    padding-bottom: 30px;
    padding-top: 30px;
    cursor: pointer;
}
  
  






.onimg {
    width: 700px;        /* 画像の横幅（自由に指定） */
    height: auto;
    position: relative;  /* 帯の表示位置の基準とする */
    display: block;
    
}
  
  .onimg img {
    width: 700px;
    height: auto;
}
  
.onimg p {
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.onimg:hover p {
    opacity: 1;   
    transition:all 0.5s ease;
}







.image_link{
    display:block; 
    position:relative;
    text-decoration:none;
    width:700px;
     height: auto;
   }
   .image_link img{
     display:block;
     width:700px;
     height: auto;
   }
   .image_link:before{
     content:"";
     display:block;
     width:100%;
     height:100%;
     position:absolute;
     z-index:2;
     background:rgba(0, 0, 0, 5);/*好みの色に変えてください。*/
     opacity:0;
     transition:0.3s;
   }
   .image_link:after{
    content: attr(title);/*好みの文章に変更してください。*/
     display:block;
     color:#fff;
     width:180px;
     text-align:center;
     position:absolute;
     top:50%;
     left:50%;
     margin-top:-1em;
     margin-left:-90px;
     opacity:0;
     z-index:3;
     transition:0.3s;
   }
   .image_link:hover:before{
     opacity:0.5;
   }
   .image_link:hover:after{
     opacity:1;
     margin-top:-0.5em;
   }

   .snspage p{
       font-size: 10px;
   }




}